footer {
  color: rgb(0, 181, 221);
  font-size: 25px;
}

p {
  text-align: justify;
  font-size: 18px;
}

th {
  color:  rgb(0, 181, 221);
}

td{
   color:  rgb(255, 255, 255);
}



h1{
  font-size: 60px !important;
  font-weight: bold !important;
}


h5{
  text-align: center;
}


h2 {
  font-size: 50px !important;
}