.page {
    min-height: 50vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}



a.active {
    color: rgb(0, 181, 221) !important;
    background-color: black;
    border-radius: 9px;
    font-weight: bold !important;
}
